<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function pageRedirect() {
            var url = '{{ url }}'
            if (self !== top)
                top.location.href = url;
        }
        pageRedirect()
    </script>
</head>
<body>
</body>
</html>