<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopify App Installation</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style type="text/css">
        /* BASIC STYLES */
        body {
            margin: 0;
            padding: 0;
            font-family: 'Roboto', sans-serif;
        }

        header {
            width: 100%;
        }

        ul {
            list-style: none;
        }


        a {
            text-decoration: none;
            color: inherit;
        }

        li.nav-links a:hover {
            text-decoration: underline;
        }


        .ozeefy #ozeefy_logo {
            text-align: center;
            display: block;
            margin: 0 auto;
            clear: both;
            padding-top: 250px;
            padding-bottom: 20px;
        }

        .form {
            text-align: center;
        }

        #form-search {
            width: 582px;
            background: #fff;
            border: 2px solid rgb(230, 231, 230);
            border-radius: 20px;
            line-height: 40px;
            padding: 20px 10px;
            font-size: 16px;
            box-shadow: 5px 5px #aaaaaa;
        }

        .form #form-search {
            padding: 0 15px;
        }

        /*#form-search:hover {
          border-color: #e4e4e4;
          padding-top: 0;
        }*/

        .buttons {
            text-align: center;
            padding-top: 30px;
            margin-bottom: 230px;
        }

        /* FOOTER */
        footer {
            background: #f2f2f2;
            border-top: solid 2px #e4e4e4;
            /*   position: fixed; */
            bottom: 0;
            padding-bottom: 0;
            width: 100%;

        }

        footer ul li {
            display: inline;
            color: #666666;
            font-size: 14px;
            padding: 13px;
        }

        footer ul {
            float: left;
            padding: 1px;
        }

        footer ul a:hover {
            text-decoration: underline;
        }

        .footer-right {
            float: right;
        }

        /* MEDIA QUERIES */

        @media screen and (max-width: 400px) {

            li.nav-links a {
                display: none;
            }

            #alchemative_logo {
                padding: 0;
            }

            .buttons {
                display: none;
            }

            #form-search {
                width: 80%;

            }

            footer {
                bottom: 0;
            }

            footer ul {
                float: none;
                padding-bottom: 2px;

            }

            .footer-left {
                text-align: center;
                margin: auto;
                padding-top: 10px;

            }

            .footer-right {
                float: none;
                text-align: center;

            }
        }

        @media screen and (max-width: 565px) {

            li.nav-links a {
                display: none;
            }


            #alchemative_logo {
                padding: 0;
            }

            .buttons {
                display: none;
            }

            #form-search {
                width: 80%;

            }

            footer {
                /*    bottom: 0;
                   postion: absolute; */
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 60px;
            }

            footer ul {
                float: none;
                padding-bottom: 2px;

            }

            .footer-left {
                text-align: center;
                margin: auto;
                padding-top: 10px;

            }

            .footer-right {
                float: none;
                text-align: center;

            }
        }

        .button {
            background-image: -webkit-linear-gradient(top, #efefef, #efefef);
            background-color: #efefef;
            border: 1px solid #efefef;
            border-radius: 4px;
            color: #5F6368;
            font-family: arial, sans-serif;
            font-size: 16px;
            margin: 11px 4px;
            padding: 0 18px;
            line-height: 30px;
            height: 36px;
            min-width: 54px;
            text-align: center;
            cursor: pointer;
            user-select: none;
        }
    </style>
</head>
<body>
{% load static %}

<!-- alchemative IMG -->
<div class="main">


<div class="ozeefy">
    <a href="#" id="ozeefy_logo"></a>
</div>

<!-- FORM SEARCH -->
<form method="GET" action="{% url 'install' %}" name="myForm"> {% csrf_token %}
    <div class="form">
        <input type="text" id="form-search" value="" name="shop" placeholder="Enter shop URL domain!"/>
    </div>

    <!-- BUTTONS -->
    <div class="buttons">
        <button type="submit" class="button pure-button">Install App</button>
    </div>
</form>
</div>
</body>
</html>