<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <title>Order Invoice</title>
    <style>
        @page {
            size: a4;
            margin: 1cm;
            float: auto;
        }

        @font-face {
            font-family: Lato;
        {#src: url("Lato-Regular.ttf")#}
        }

        body {
            font-family: Lato;
        }

        h1 {
            margin: 3px 0 0 0;
        }

        .font-12 {
            font-size: 12px;
        }

        .font-11 {
            font-size: 11px;
        }

        .font-10 {
            font-size: 10px;
        }

        .text-left {
            text-align: left !important;
        }

        .text-right {
            text-align: right !important;
        }

        .text-center {
            text-align: center !important;
        }

        .line hr {
        {#display: block;#} border: 1px solid #E0E0E0 !important;
        }

        .line-dot img {
            width: 100%;
        }

        .border-bottom {
            border-bottom: 1px solid black;
        }

        .border-top {
            border-top: 1px solid black;
        }

        .border-left {
            border-left: 1px solid black;
        }

        .border-right {
            border-right: 1px solid black;
        }

        .table-d {
            padding: 3px;
        }

        .height-55 {
            margin-bottom: 55px;
            color: #fff;
        }

        .padding_t_l_3 {
            padding: 3px 0 0 3px;
        }

        .margin_t_b_10 {
            margin: 10px 0 10px 0;
        }

        .margin_t_b_l_10_30 {
            margin: 10px 0 30px 30px;
        }

        .word-wrap {
            word-wrap: break-word;
        }

    </style>
    {% load static %}

</head>

<body>


{% for d in data %}
    {% for i in invoice_count %}
        <div style="page-break-after: always">
            <table style="margin:0 0 3px 0;width: 100%">
                <tr>
                    <td rowspan="2" class="border-top border-left border-bottom border-right text-left table-d">
                        Brand Name
                    </td>
                    <td style="width:50%" class="border-top border-left border-bottom border-right text-left table-d">
                        <table>
                            <tr>
                                <td style="text-align: left"><strong>Origin: </strong>{{ d.location_city }}</td>
                                <td style="text-align: right"><strong>Destination: </strong>
                                    {% if d.customer_city %}
                                        {{ d.customer_city }}
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td rowspan="2" class="border-top border-left border-bottom border-right text-left table-d">
                        <img src='{{ d.courier_img }}' alt="logo" height="95"/>
                    </td>
                </tr>
                <tr>
                    <td class="border-top border-left border-bottom border-right text-left table-d">
                        <table>
                            <tr>
                                <td style="text-align: left"><strong>Weight: </strong>{{ d.grams }}</td>
                                <td style="text-align: right"><strong>Date: </strong>{{ d.date }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="border-top border-left border-bottom border-right text-left table-d">
                        <strong style="margin-top: 0px">Shipper Details:</strong><br/>
                        {{ d.location_name }}<br/>
                        {{ d.location_address }}<br/>
                        {{ d.location_city }}<br/>
                        {{ d.location_phone }}<br/>
                    </td>
                    <td style="width:50%" class="border-top border-left border-bottom border-right text-left table-d">
                        <div class="text-left" style="font-size:12px; padding-left: 100px">
                            <pdf:barcode value="{{ d.cn_number }}" type="code128" humanreadable="1" barheight="20"
                                         align="middle"/>
                        </div>
                    </td>
                    <td class="border-top border-left border-bottom border-right text-left table-d">
                        <strong>Consignee:</strong><br/>
                        {{ d.customer_name }}<br/>
                        {{ d.customer_address1 }}<br/>
                        {{ d.customer_city }}<br/>
                        {{ d.customer_phone }}
                    </td>
                </tr>
                <tr>
                    <td class="border-top border-left border-bottom border-right text-left table-d">
                        <strong>Order #</strong><br/>
                        {{ d.order_name }}
                    </td>
                    <td style="width:50%" class="border-top border-left border-bottom border-right text-left table-d">
                        <table>
                            <tr>
                                <td>
                                    <strong>COD Amount: </strong>{{ d.barcode_amount }}
                                </td>
                                <td>
                                    <pdf:barcode value="RS{{ d.barcode_amount }}" type="code128" humanreadable="1"
                                                 barheight="15"
                                    />
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="border-top border-left border-bottom border-right text-left table-d">
                        <strong>Service Type:</strong><br/>
                        {{ d.service_type}}
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="border-top border-left border-bottom border-right text-left table-d">
                        <strong>Product Detail: </strong>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="border-top border-left border-bottom border-right text-left table-d">
                        <strong>Remarks: </strong>
                        {% if d.note %}
                            {{ d.note }}
                        {% endif %}
                    </td>
                </tr>
            </table>
            <table>
                <tr class="line-dot">
                    <td colspan="5">
                        <br/>
                        <img src='{{ d.line_img }}' alt="line" height="10">
                    </td>
                </tr>

                <tr>
                    <td>
                        <img src='{{ invoice_setting.logo_url }}' alt="logo" height="25">
                    </td>
                    <td colspan="4"
                    ><br/>
                        <table class="table-top margin_t_b_10">
                            <tr>
                                <td class="text-center" style="font-size:11px;">
                                    <div>Order No.</div>
                                    <pdf:barcode value="{{ d.order_name }}" type="code128" humanreadable="1"
                                                 barheight="15"
                                                 align="middle"/>
                                </td>

                                {% if d.courierName != "Internal" %}
                                    <td class="text-center" style="font-size: 11px;">
                                        <div>CN</div>
                                        <pdf:barcode value="{{ d.cn_number }}" type="code128" humanreadable="1"
                                                     barheight="15" align="middle"/>
                                    </td>
                                {% endif %}

                            </tr>

                        </table>
                    </td>
                </tr>

                <tr class="line">
                    <td colspan="5">
                        <hr>
                    </td>
                </tr>

            </table>

            <h1>Product Details</h1>
            <table style="margin:0 0 3px 0;width: 100%" class="table-lineItems">
                <tr class="font-11">
                    <th class="border-top border-right border-bottom border-left text-left padding_t_l_3">Product
                    </th>
                    <th class="border-top border-right border-bottom text-left padding_t_l_3">SKU
                    </th>
                    <th class="border-top border-right border-bottom text-left padding_t_l_3">Barcode
                    </th>
                    <th style="width: 15%"
                        class="border-top border-right border-bottom text-left padding_t_l_3">Option
                    </th>
                    <th class="border-top border-right border-bottom text-left padding_t_l_3">Qty
                    </th>
                    <th class="border-top border-right border-bottom text-left padding_t_l_3">Unit Price
                    </th>
                    <th class="border-top border-right border-bottom text-left padding_t_l_3">Amount
                    </th>
                </tr>
                {% for lineItem in d.lineItems %}
                    <tr class="font-10">
                        <td style="width: 15%" class="border-left border-right border-bottom padding_t_l_3">{{ lineItem.product_name }}</td>
                        <td style="width: 15%" class="border-right border-bottom word-wrap padding_t_l_3">{{ lineItem.sku_code }}</td>
                        <td style="width: 15%" class="border-right border-bottom word-wrap padding_t_l_3">{{ lineItem.barcode }}</td>
                        <td style="width: 25%" class="border-right border-bottom padding_t_l_3">
                            {% for obj in lineItem.options %}
                                {% if obj %}
                                    <span>{{ obj }}</span>
                                    <br>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td style="width: 5%"
                            class="border-right border-bottom word-wrap padding_t_l_3">{{ lineItem.quantity }}</td>
                        <td style="width: 15%" class="border-right border-bottom word-wrap padding_t_l_3">{{ lineItem.price }}</td>
                        <td style="width: 10%"
                            class="border-right border-bottom word-wrap padding_t_l_3">{{ lineItem.total_amount }}</td>
                    </tr>

                {% endfor %}
            </table>

            <table>
                <tr>
                    <td colspan="5">
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <h1>Payment Details</h1>
                        <table style="width: 100%">
                            <tr class="font-11">
                                <th class="border-top border-right border-bottom border-left text-left padding_t_l_3">
                                    Total
                                    Price
                                </th>
                                <th class="border-top border-right border-bottom text-left padding_t_l_3">Shipping
                                </th>
                                <th class="border-top border-right border-bottom text-left padding_t_l_3">Paid Amount
                                </th>
                                <th class="border-top border-right border-bottom text-left padding_t_l_3">Total Amount
                                </th>
                            </tr>
                            <tr>
                                <td class="border-left border-right border-bottom word-wrap padding_t_l_3">
                                    {{ d.subtotal_price }}
                                </td>
                                <td class="border-right border-bottom word-wrap padding_t_l_3">
                                    {{ d.shipping_charges }}
                                </td>
                                <td class="border-right border-bottom word-wrap padding_t_l_3">
                                    {{ d.paidAmount }}
                                </td>
                                <td class="border-right border-bottom word-wrap padding_t_l_3">
                                    {{ d.display_amount }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br>
            <table>
                <tr>
                    <td colspan="2">
                        <div class="text-left" style="font-size:12px;">Printed at {{ d.printed_at }}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    {% endfor %}
{% endfor %}


</body>

</html>