<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <title>Order Invoice</title>
    <style>
        @page {
            size: a4;
            margin: 1cm;
            float: auto;
        }

        @font-face {
            font-family: Lato;
        {#src: url("Lato-Regular.ttf")#}
        }

        body {
            font-family: Lato;
        }

        h1 {
            margin: 3px 0 0 0;
        }

        .font-12 {
            font-size: 12px;
        }

        .font-11 {
            font-size: 11px;
        }

        .font-10 {
            font-size: 10px;
        }

        .text-left {
            text-align: left !important;
        }

        .text-right {
            text-align: right !important;
        }

        .text-center {
            text-align: center !important;
        }

        .line hr {
        {#display: block;#} border: 1px solid #E0E0E0 !important;
        }

        .line-dot img {
            width: 100%;
        }

        .border-bottom {
            border-bottom: 1px solid black;
        }

        .border-top {
            border-top: 1px solid black;
        }

        .border-left {
            border-left: 1px solid black;
        }

        .border-right {
            border-right: 1px solid black;
        }

        .height-55 {
            margin-bottom: 55px;
            color: #fff;
        }

        .padding_t_l_3 {
            padding: 3px 0 0 3px;
        }

        .margin_t_b_10 {
            margin: 10px 0 10px 0;
        }

        .margin_t_b_l_10_30 {
            margin: 10px 0 30px 30px;
        }

        .word-wrap {
            word-wrap: break-word;
        }

    </style>
    {% load static %}

</head>

<body>


{% for d in data %}
    {% for i in invoice_count %}
        <div style="page-break-after: always">
            <table>
                <tr>
                    <td colspan="2">
                        <img src='{{ invoice_setting.logo_url }}' alt="logo" height="55"
                             style="display: block;margin-bottom: 20px"/>
                        <div class="text-left" style="font-size:12px;">Order No.
                            <pdf:barcode value="{{ d.order_name }}" type="code128" humanreadable="1" barheight="20"
                                         align="middle"/>
                        </div>
                    </td>

                    <td class="text-right" colspan="3">
                        <img src='{{ d.courier_img }}'
                             alt="logo" height="55" style="display: block;margin-bottom: 20px"/>
                        <div style="font-size: 12px; float: right">CN
                            <pdf:barcode value="{{ d.cn_number }}" type="code128" humanreadable="1" barheight="20"
                                         align="middle"/>
                        </div>
                    </td>

                </tr>

                <tr class="line">
                    <td colspan="5">
                        <hr>
                    </td>
                </tr>

                <tr>
                    <td colspan="3">

                        <table class="middle-table-left margin_t_b_10">
                            <tr>
                                <th style="padding: 3px"
                                    class="border-top border-left border-bottom border-right text-left">
                                    Billing Details
                                </th>
                                <th style="padding: 3px"
                                    class="border-right border-bottom border-top text-left">
                                    Shipping
                                    Details
                                </th>
                            </tr>
                            <tr>
                                <td class="border-left border-bottom border-right padding_t_l_3">
                                    {% if d.customer_name %}{{ d.customer_name }}{% endif %}</td>
                                <td class="border-right border-bottom padding_t_l_3">{{ d.customer_name }}</td>
                            </tr>
                            <tr>
                                <td class="border-left border-bottom border-right padding_t_l_3">
                                    {% if d.customer_address1 %}{{ d.customer_address1 }} {% endif %}</td>
                                <td class="border-right border-bottom padding_t_l_3">{{ d.customer_address1 }}</td>
                            </tr>
                            {% if d.customer_address2 %}
                                <tr>
                                    <td class="border-left border-bottom border-right padding_t_l_3">
                                        {% if d.customer_address2 %}{{ d.customer_address2 }} {% endif %}</td>
                                    <td class="border-right border-bottom padding_t_l_3">{{ d.customer_address2 }}</td>
                                </tr>
                            {% endif %}
                            {% if d.provinceAndCountry != "" %}
                                <tr>
                                    <td class="border-left border-bottom border-right padding_t_l_3">
                                        {% if d.provinceAndCountry %}{{ d.provinceAndCountry }} {% endif %}</td>
                                    <td class="border-right border-bottom padding_t_l_3">{{ d.provinceAndCountry }}</td>
                                </tr>
                            {% endif %}
                            {% if d.customer_city %}
                                <tr>
                                    <td class="border-left border-bottom border-right padding_t_l_3">
                                        {% if d.customer_city %}{{ d.customer_city }}  {% endif %}</td>
                                    <td class="border-right border-bottom padding_t_l_3">{{ d.customer_city }} </td>
                                </tr>
                            {% endif %}
                            <tr>
                                {% if d.customer_phone %}
                                    <td class="border-left border-right border-bottom padding_t_l_3">
                                        {{ d.customer_phone }}</td>
                                {% endif %}
                                <td class="border-bottom border-right padding_t_l_3">{{ d.customer_phone }}</td>
                            </tr>
                        </table>

                    </td>
                    <td colspan="2">
                        <table class="middle-table-right margin_t_b_10">
                            <tr class="font-11 margin_t_b_l_10_30">
                                <td class="text-left font-11">Order</td>
                                <td class="text-left">Weight</td>
                            </tr>
                            <tr class="font-12 margin_t_b_l_10_30">
                                <td class="text-left"><b>{{ d.order_name }}</b></td>
                                <td class="text-left"><b>{{ d.grams }}</b></td>
                            </tr>
                            <tr class="font-11 margin_t_b_l_10_30">
                                <td class="text-left">Location</td>
                                <td class="text-left">Payment</td>
                            </tr>
                            <tr class="font-12 margin_t_b_l_10_30">
                                <td class="text-left"><b>{{ d.location_name }}</b></td>
                                <td class="text-left"><b>{{ d.payment_method }}</b></td>
                            </tr>
                            <tr class="font-11 margin_t_b_l_10_30">
                                <td class="text-left">Shipment Type</td>
                                <td class="text-left">Date</td>
                            </tr>
                            <tr class="font-12 margin_t_b_l_10_30">
                                <td class="text-left"><b>Standard</b></td>
                                <td class="text-left"><b>{{ d.date }} </b></td>
                            </tr>
                            <tr class="font-11 margin_t_b_l_10_30">
                                <td class="text-left">Location Address</td>
                                <td class="text-left">Amount</td>
                            </tr>

                            <tr class="font-12 margin_t_b_l_10_30">
                                <td class="text-left"><b>{{ d.location_address }}</b></td>
                                <td class="text-left">
                                    <pdf:barcode value="RS{{ d.barcode_amount }}" type="code128" humanreadable="1"
                                                 barheight="15"
                                    />
                                </td>
                            </tr>
                        </table>
                    </td>

                </tr>

                <tr class="line">
                    <td colspan="5">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        {% if d.note %}
                            <table class="middle-table-right margin_t_b_10">
                                <tr class="font-11">
                                    <td class="text-left">Customer Remarks</td>
                                </tr>
                                <tr class="font-12">
                                    <td class="text-left"><b>{{ d.note }}</b></td>
                                </tr>
                            </table>
                        {% endif %}
                    </td>
                    <td colspan="1"></td>
                </tr>

                <tr class="line-dot">
                    <td colspan="5">
                        <br/>
                        <img src='{{ d.line_img }}' alt="line" height="10">
                    </td>
                </tr>

                <tr>
                    <td>
                        <img src='{{ invoice_setting.logo_url }}' alt="logo" height="25">
                    </td>
                    <td colspan="4"
                    ><br/>
                        <table class="table-top margin_t_b_10">
                            <tr>
                                <td class="text-center" style="font-size:11px;">
                                    <div>Order No.</div>
                                    <pdf:barcode value="{{ d.order_name }}" type="code128" humanreadable="1"
                                                 barheight="15"
                                                 align="middle"/>
                                </td>

                                {% if d.courierName != "Internal" %}
                                    <td class="text-center" style="font-size: 11px;">
                                        <div>CN</div>
                                        <pdf:barcode value="{{ d.cn_number }}" type="code128" humanreadable="1"
                                                     barheight="15" align="middle"/>
                                    </td>
                                {% endif %}

                            </tr>

                        </table>
                    </td>
                </tr>

                <tr class="line">
                    <td colspan="5">
                        <hr>
                    </td>
                </tr>

            </table>

            <h1>Product Details</h1>
            <table style="margin:0 0 3px 0;width: 100%" class="table-lineItems">
                <tr class="font-11">
                    <th class="border-top border-right border-bottom border-left text-left padding_t_l_3">Product
                    </th>
                    <th class="border-top border-right border-bottom text-left padding_t_l_3">SKU
                    </th>
                    <th class="border-top border-right border-bottom text-left padding_t_l_3">Barcode
                    </th>
                    <th style="width: 15%"
                        class="border-top border-right border-bottom text-left padding_t_l_3">Option
                    </th>
                    <th class="border-top border-right border-bottom text-left padding_t_l_3">Qty
                    </th>
                    <th class="border-top border-right border-bottom text-left padding_t_l_3">Unit Price
                    </th>
                    <th class="border-top border-right border-bottom text-left padding_t_l_3">Amount
                    </th>
                </tr>
                {% for lineItem in d.lineItems %}
                    <tr class="font-10">
                        <td class="border-left border-right border-bottom padding_t_l_3">{{ lineItem.product_name }}</td>
                        <td class="border-right border-bottom word-wrap padding_t_l_3">{{ lineItem.sku_code }}</td>
                        <td class="border-right border-bottom word-wrap padding_t_l_3">{{ lineItem.barcode }}</td>
                        <td class="border-right border-bottom padding_t_l_3">
                            {% for obj in lineItem.options %}
                                {% if obj %}
                                    <span>{{ obj }}</span>
                                    <br>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td style="width: 30px"
                            class="border-right border-bottom word-wrap padding_t_l_3">{{ lineItem.quantity }}</td>
                        <td class="border-right border-bottom word-wrap padding_t_l_3">{{ lineItem.price }}</td>
                        <td style="width: 60px"
                            class="border-right border-bottom word-wrap padding_t_l_3">{{ lineItem.total_amount }}</td>
                    </tr>

                {% endfor %}
            </table>

            <table>
                <tr>
                    <td colspan="5">
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <h1>Payment Details</h1>
                        <table style="width: 100%">
                            <tr class="font-11">
                                <th class="border-top border-right border-bottom border-left text-left padding_t_l_3">
                                    Total
                                    Price
                                </th>
                                <th class="border-top border-right border-bottom text-left padding_t_l_3">Shipping
                                </th>
                                <th class="border-top border-right border-bottom text-left padding_t_l_3">Paid Amount
                                </th>
                                <th class="border-top border-right border-bottom text-left padding_t_l_3">Total Amount
                                </th>
                            </tr>
                            <tr>
                                <td class="border-left border-right border-bottom word-wrap padding_t_l_3">
                                    {{ d.subtotal_price }}
                                </td>
                                <td class="border-right border-bottom word-wrap padding_t_l_3">
                                    {{ d.shipping_charges }}
                                </td>
                                <td class="border-right border-bottom word-wrap padding_t_l_3">
                                    {{ d.paidAmount }}
                                </td>
                                <td class="border-right border-bottom word-wrap padding_t_l_3">
                                    {{ d.display_amount }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <br>
            <table>
                <tr>
                    <td colspan="2">
                        <div class="text-left" style="font-size:12px;">Printed at {{ d.printed_at }}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    {% endfor %}
{% endfor %}


</body>

</html>