<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop Not Found 404</title>
</head>
<body>
    <h3>Error in accessing Token for the app <a href="{% url 'index' %}">click here</a></h3>
</body>
</html>