<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricing Plans</title>

    <style>
        body {
            margin: 0;
            background-color: #F4F6F8;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
        .header {
            background-color: #3F51B5;
            display: flex;
            align-items: center;
            width: 100%;
        }
        .header p {
            font-size: 14px;
            color: white;
        }
        .header img {
            width: 30px;
            height: 25px;
            margin-left: 19px;
            margin-right: 10px;
        }
        .header .alt_text {
            color: rgba(255, 255, 255, 0.8);
            font-size: 11px;
            margin-left: 10px;
        }
        .second_div {
            margin-left: 20px;
        }

        .heading_description {
            color: #838089;
            font-size: 12px;
        }


        /* Custom Row & Column Start */
        
        .custom-row-wrap {
            display: flex;
            flex-wrap: wrap;
        }
        
        .custom-row-wrap .col-three-wrap,
        .custom-row-wrap .col-six-wrap {
            width: 100%;
        }
        
        @media (min-width: 768px) {
            .custom-row-wrap .col-three-wrap {
                flex: 0 0 25%;
                max-width: 25%;
            }
            .custom-row-wrap .col-six-wrap {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
        /* Custom Row & Column End */
        
        .layout-section {
            margin: 15px;
            padding: 20px 20px 20px 20px;
            background-color: #fff;
        }
        
        .layout-section .title-first {
            font-size: 14px;
            margin-bottom: 20px;
        }
        
        .layout-section .title {
            font-size: 14px;
            margin-top: 40px;
            margin-bottom: 20px;
        }
        
        .layout-section .order {
            font-size: 12px;
            font-weight: 700;
            color: #000;
            opacity: 0.8;
        }
        
        .layout-section .price {
            font-size: 14px;
            font-weight: 700;
            color: #000;
            opacity: 0.8;
        }
        
        .layout-section .price .month {
            font-size: 12px;
            font-weight: 700;
            color: #000;
            opacity: 0.8;
        }

        
        @media (max-width: 787px) {
            .layout-section {
                text-align: center;
            }
            .layout-section .title-first,
            .layout-section .title {
                margin-top: 40px;
            }
        }
    </style>

</head>

<body>
    {% load static %}
    <div class="header" style="z-index: 100">
      <img src="https://unified-courier-backend.alchemative.net/static/logo.png" alt="Logo" />
      <p>Unified Couriers</p>
      <p class="alt_text">Pricing</p>
    </div>
    <div class="second_div">
        <h3>Choose the plan that suits you best</h3>
        <p class="heading_description">
            You can switch between paid plans anytime and only pay the price difference during the app charge cycle
        </p>
    </div>
    <div class="layout-section">
        <div class="custom-row-wrap">
            <div class="col-three-wrap">
                <h1 class="title-first">Free</h1>
                <p class="order">50 orders</p>
                <p class="price">$0/<span class="month">month</span></p>
            </div>
            <div class="col-three-wrap">
                <h1 class="title-first">Starter Plan</h1>
                <p class="order">100 orders/month</p>
                <p class="price">$9/<span class="month">month</span></p>
            </div>
            <div class="col-three-wrap">
                <h1 class="title-first">Lite Plan</h1>
                <p class="order">250 orders/month</p>
                <p class="price">$19/<span class="month">month</span></p>
            </div>
            <div class="col-three-wrap">
                <h1 class="title-first">Startup Plan</h1>
                <p class="order">500 orders/month</p>
                <p class="price">$39/<span class="month">month</span></p>
            </div>
            <div class="col-three-wrap">
                <h1 class="title">Bronze</h1>
                <p class="order">1500 orders/months</p>
                <p class="price">$99/<span class="month">month</span></p>
            </div>
            <div class="col-three-wrap">
                <h1 class="title">Silver</h1>
                <p class="order">2500 orders/month</p>
                <p class="price">$149/<span class="month">month</span></p>
            </div>
            <div class="col-three-wrap">
                <h1 class="title">Gold</h1>
                <p class="order">5000 orders/month</p>
                <p class="price">$199/<span class="month">month</span></p>
            </div>
            <div class="col-three-wrap">
                <h1 class="title">Platinum</h1>
                <p class="order">10,000 orders/month</p>
                <p class="price">$349/<span class="month">month</span></p>
            </div>
            <div class="col-three-wrap">
                <h1 class="title">Mega</h1>
                <p class="order">15,000 orders/month</p>
                <p class="price">$489/<span class="month">month</span></p>
            </div>
            <div class="col-three-wrap">
                <h1 class="title">Ultimate</h1>
                <p class="order">30,000 orders/month</p>
                <p class="price">$929/<span class="month">month</span></p>
            </div>
            <div class="col-three-wrap">
                <h1 class="title">Custom</h1>
                <p class="order">More than 30,000</p>
                <p class="order">Please email us at app-support@alchemative.com<br />or contact us at +92 300 0342357</p>
            </div>
        </div>
    </div>

</body>

</html>